<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Logo</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    
    <div class="dropdown">
      <button class="dropbtn">Student 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="" routerLink="/student/studentlist">Studentlist</a>
        <a class="" routerLink="/student/addstudent">addStudent</a>
        <a class="" routerLink="/student/studentdetails">StudentDetails</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Teacher 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="" routerLink="/teacher/teacherlist">Teacherlist</a>
        <a class="" routerLink="/teacher/addteacher">addTeacher</a>
        <a class="" routerLink="/teacher/teacherdetails">TeacherDetails</a>
      </div>
    </div>
    
  </ul>
</nav>


